name = "arlinkauth"
main = "src/index.ts"
compatibility_date = "2026-02-08"
compatibility_flags = ["nodejs_compat"]

[dev]
port = 8787

[[d1_databases]]
binding = "DB"
database_name = "arlinkauth-db"
database_id = "82465a10-2248-47d8-889b-bb7d6a6004d5"
