name = "arlinkauth"
main = "src/index.ts"
compatibility_date = "2026-02-08"
compatibility_flags = ["nodejs_compat"]

[dev]
port = 8787

[[d1_databases]]
binding = "DB"
database_name = "arlinkauth-db"
database_id = "23f6ac8e-f316-4a13-9590-3fc2b0f8a2a8"
